.wrapper {
	--search-border-radius: 92px;
	--search-height: 46px;
	--search-top-spacer: 9px;
	--search-button-width: 52px;

	width: 100%;
	height: var(--default-layout-header-height, 60px);
	box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
	display: flex;
	justify-content: center;
}

.inner {
	height: 100%;
	width: var(--default-layout-width, 1150px);
	padding: 0 var(--default-layout-herizontal-spacer);
	display: flex;
	align-items: center;
	justify-content: space-between;
}

// Actions
.actions {
	display: flex;
	align-items: center;
}

.message-btn {
	padding: 3px 3px 3px;
}

.message-btn,
.inbox-btn,
.avatar {
	height: 32px;
	width: 32px;
	margin-left: 16px;
	font-size: 20px;
	background-color: transparent;
	cursor: pointer;
}

.more-btn {
	margin-left: 16px;
	padding: 4px 4px;
	font-size: 2rem;
	width: 20px;
}

.avatar {
	border-radius: 50%;
	object-fit: cover;
}
